/**
 * @file
 * Styles for Configuration schema.
 */

/**
 * Raw data placeholders.
 */
 
.config-schema-raw-data-form .form-type-textarea {
  width:48%;
}

.config-schema-raw-data-form .form-item-data {
  float:left;
}

.config-schema-raw-data-form .form-item-schema {
  float:right;
}

